<p id="notice"><%= notice %></p>

<h1>Roadmap</h1>

Die Roadmap wird aus den Arbeitspaketen der Work Breakdown Structure erstellt.

<hr>

<% if !@wbs.first.nil? %>

<div class="radio">
  <label>
    <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio1" value="option1" checked onClick="Hide('table2', this); Reveal('table1', this)">
    Tagesansicht
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio2" value="option2" onClick="Hide('table1', this); Reveal('table2', this)">
    3-Tagesansicht
  </label>
</div>

<hr>

<table class="table" id="table1" >
  <thead>
  <tr>
    <th></th>
    <% @i = 0 %>
    <% (@wbs.first.start..(@wbs.last.end)).each do |some_date| %>
        <% if @i == 0 %>
            <th class="box_rotate_grey"><div title="<%= some_date.strftime("%d.%m.%y") %>"><%= some_date.strftime("%d . %m .") %></th>
            <% @i = 1 %>
        <% else %>
            <th class="box_rotate"><div title="<%= some_date.strftime("%d.%m.%y") %>"><%= some_date.strftime("%d . %m .") %></th>
            <% @i = 0 %>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @wbs.each do |wb| %>
      <% @wbz = (wb.start..(wb.end)) %>
      <tr>
        <td><%= link_to wb.name, wb %></td>
        <% (@wbs.first.start..(@wbs.last.end)).each do |all_dates| %>
            <% if @wbz === all_dates %>
                <td class="btn-success" ></td>
            <% else %>
                <td></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<table class="table" id="table2" style="display: none" >
  <thead>
  <tr>
    <th></th>
    <% @i = 0 %>
    <% (@wbs.first.start..(@wbs.last.end)).each_with_index do |some_date, idx| %>
        <% if idx % 3 == 0 %>
            <% if @i == 0 %>
                <th class="box_rotate_grey"><div title="<%= some_date.strftime("%d.%m.%y") %> - <%= (some_date + 2).strftime("%d.%m.%y") %>"><%= some_date.strftime("%d. %m.") %> - <%= (some_date + 2).strftime("%d. %m.") %></div></th>
                <% @i = 1 %>
            <% else %>
                <th class="box_rotate"><div title="<%= some_date.strftime("%d.%m.%y") %> - <%= (some_date + 2).strftime("%d.%m.%y") %>"><%= some_date.strftime("%d. %m.") %> - <%= (some_date + 2).strftime("%d. %m.") %></th>
                <% @i = 0 %>
            <% end %>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @wbs.each do |wb| %>
      <% @wbz = (wb.start..(wb.end)) %>
      <tr>
        <td><%= link_to wb.name, wb %></td>
        <% (@wbs.first.start..(@wbs.last.end)).each_with_index do |all_dates, idx| %>
            <% if idx % 3 == 0 %>
                <% if @wbz === all_dates || @wbz === all_dates + 1 || @wbz === all_dates + 2 %>
                    <td class="btn-success" ></td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <h4 class="alertjava">Bitte legen Sie zunächst Arbeitspakete in der Work Breakdown Structure an!</h4>
<% end %>