<p id="notice"><%= notice %></p>

<h1>Product Breakdown Structure</h1>

<table class="table">
  <thead>
  <tr>
    <th class="gruenerKasten" width="100">Produkt</th>
    <th class="blauerKasten" width="100">Teilprodukt</th>
    <th class="gelberKasten" width="100">Modul</th>
    <th class="roterKasten" width="100">Teilmodul</th>
    <th class="grauerKasten" width="100">Komponente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @pbs.each do |pb| %>
      <tr>
        <% if pb.l1 && pb.l2 && pb.l3 && pb.l4 %>
            <td></td>
            <td></td>
            <td></td>
            <td class="grauerKasten"><%= pb.l1.to_s + '.' + pb.l2.to_s + '.' + pb.l3.to_s + '.' + pb.l4.to_s%></td>
            <td class="grauerKasten"><%= link_to pb.name, pb %></td>
        <%else %>
            <% if pb.l1 && pb.l2 && pb.l3%>
                <td></td>
                <td></td>
                <td class="roterKasten"><%= pb.l1.to_s + '.' + pb.l2.to_s + '.' + pb.l3.to_s %></td>
                <td class="roterKasten"><%= link_to pb.name, pb %></td>
            <% else %>
                <% if pb.l1 && pb.l2 %>
                    <td></td>
                    <td class="gelberKasten"><%= pb.l1.to_s + '.' + pb.l2.to_s %></td>
                    <td class="gelberKasten"><%= link_to pb.name, pb %></td>
                <% else %>
                    <% if pb.l1 %>
                        <td class="blauerKasten"><%= pb.l1 %></td>
                        <td class="blauerKasten"><%= link_to pb.name, pb %></td>
                    <% else %>
                        <td class="gruenerKasten"><%= link_to pb.name, pb %></td>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% if pb.ebene == 0 %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to new_teilprodukt_path(id: pb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Neues Teilprodukt hinzuf端gen" do %>
                  <%= image_tag("plus.png", size: "20x20") %>
              <% end %></td>
            <td></td>
        <% elsif pb.ebene == 1 %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to new_modul_path(id: pb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Modul hinzuf端gen" do %>
                  <%= image_tag("plus.png", size: "20x20")  %>
              <% end %></td>
            <td><%= link_to pb, method: :delete, data: { confirm: 'Teilprodukt entfernen?' }, title: "Teilprodukt entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif pb.ebene == 2 %>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to new_teilmodul_path(id: pb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Teilmodul hinzuf端gen" do %>
                  <%= image_tag("plus.png", size: "20x20")  %>
              <% end %></td>
            <td><%= link_to pb, method: :delete, data: { confirm: 'Modul entfernen?' }, title: "Modul entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif pb.ebene == 3 %>
            <td></td>
            <td></td>
            <td><%= link_to new_komponente_path(id: pb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Komponente hinzuf端gen" do %>
                  <%= image_tag("plus.png", size: "20x20")  %>
              <% end %></td>
            <td><%= link_to pb, method: :delete, data: { confirm: 'Teilmodul entfernen?' }, title: "Teilmodul entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif pb.ebene == 4 %>
            <td></td>
            <td></td>
            <td><%= link_to pb, method: :delete, data: { confirm: 'Komponente entfernen?' }, title: "Komponente entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>

<br>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
