<p id="notice"><%= notice %></p>

<h1>Product Breakdown Structure</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Teilprodukt</th>
      <th>Modul</th>
      <th>Komponente</th>
    </tr>
  </thead>

  <tbody>
    <% @pbs.each do |pb| %>
      <tr>
        <% if pb.l1 && pb.l2 && pb.l3 && pb.l4 %>
            <td><%= pb.l1.to_s + '.' + pb.l2.to_s + '.' + pb.l3.to_s + '.' + pb.l4.to_s%></td>
        <%else %>
            <% if pb.l1 && pb.l2 && pb.l3%>
                <td><%= pb.l1.to_s + '.' + pb.l2.to_s + '.' + pb.l3.to_s %></td>
            <% else %>
                <% if pb.l1 && pb.l2 %>
                    <td><%= pb.l1.to_s + '.' + pb.l2.to_s %></td>
                <% else %>
                    <% if pb.l1 %>
                        <td><%= pb.l1 %></td>
                    <% else %>
                        <td></td>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <td><%= pb.name %></td>
        <td><%= pb.parent_id %></td>
        <td><%= pb.ebene %></td>
        <td><%= pb.beschreibung %></td>
        <td><%= link_to 'Show', pb %></td>
        <td><%= link_to 'Edit', edit_pb_path(pb) %></td>
        <td><%= link_to 'Destroy', pb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if pb.ebene == 0 %>
            <td><%= link_to 'Teilprodukt hinzuf端gen', new_teilprodukt_path(id: pb.id) %></td>
        <% else if pb.ebene == 1 %>
                <td><%= link_to 'Modul hinzuf端gen', new_modul_path(id: pb.id) %></td>
            <% else if pb.ebene == 2 %>
                    <td><%= link_to 'Teilmodul hinzuf端gen', new_teilmodul_path(id: pb.id) %></td>
                <% else if pb.ebene == 3 %>
                        <td><%= link_to 'Komponente hinzuf端gen', new_komponente_path(id: pb.id) %></td>
                <% end %>
            <% end %>
        <%end%>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Produkt anlegen', new_pb_path %>
