<p id="notice"><%= notice %></p>

<h1>Product Breakdown Structure</h1>

<table class="table-bordered">
  <thead>
  <tr>
    <th>Produkt</th>
    <th>Teilprodukt</th>
    <th>Modul</th>
    <th>Komponente</th>
  </tr>
  </thead>

  <tbody>
  <% @pbs.sort.each do |pb| %>
      <tr>
        <% if pb.ebene == 0 %>
            <td><%= link_to pb.name, pb %></td>
        <% else %>
            <td> </td>
        <% end %>
        <% if pb.ebene == 1 %>
            <td><%= link_to pb.name, pb %></td>
        <% else %>
            <td> </td>
        <% end %>
        <% if pb.ebene == 2 %>
            <td><%= link_to pb.name, pb %></td>
        <% else %>
            <td> </td>
        <% end %>
        <% if pb.ebene == 3 %>
            <td><%= link_to pb.name, pb %></td>
        <% else %>
            <td> </td>
        <% end %>
        <td><%= link_to 'Edit', edit_pb_path(pb) %></td>
        <td><%= link_to 'Destroy', pb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if pb.ebene == 0 %>
            <td><%= link_to 'Teilprodukt hinzufügen', new_teilprodukt_path(id: pb.id) %></td>
        <% else if pb.ebene == 1 %>
                <td><%= link_to 'Modul hinzufügen', new_modul_path(id: pb.id) %></td>
            <% else if pb.ebene == 2 %>
                    <td><%= link_to 'Teilmodul hinzufügen', new_teilmodul_path(id: pb.id) %></td>
                <% else if pb.ebene == 3 %>
                        <td><%= link_to 'Komponente hinzufügen', new_komponente_path(id: pb.id) %></td>
                    <% end %>
                <% end %>
            <%end%>
        <%end%>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Produkt anlegen', new_pb_path %>

<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neues Produkt hinzufügen</h4>
      </div>
      <div class="modal-body">
        <% pb = new %>
        <%= render 'form', locals: {pb: @pb = pb} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal1 -->
<div id="modal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neues Teilprodukt hinzufügen</h4>
      </div>
      <div class="modal-body">
        <% pb = new_teilprodukt %>
        <%= render 'form', locals: {pb: @pb = pb} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal2 -->
<div id="modal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neues Modul hinzufügen</h4>
      </div>
      <div class="modal-body">
        <% pb = new_modul() %>
        <%= render 'form', locals: {pb: @pb = pb} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal3 -->
<div id="modal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neues Teilmodul hinzufügen</h4>
      </div>
      <div class="modal-body">
        <% pb = new_teilprodukt %>
        <%= render 'form', locals: {pb: @pb = pb} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal4 -->
<div id="modal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neue Komponente hinzufügen</h4>
      </div>
      <div class="modal-body">
        <% pb = new_teilprodukt %>
        <%= render 'form', locals: {pb: @pb = pb} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>