<p id="notice"><%= notice %></p>
<h1>Details</h1>
<p>
  <strong>Name:</strong>
  <%= @pb.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @pb.beschreibung %>
</p>

<%= button_to 'Edit', edit_pb_path(@pb), class:"btn btn-warning", method: :get %>
<br>
<%= button_to 'Back', pbs_path, class:"btn btn-primary", method: :get %>
