<p id="notice"><%= notice %></p>

<h1>Schätzrunden:</h1>

<table class="table">
  <thead>
    <tr>
      <th>Runde</th>
      <th>Anzahl Experten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.count %></td>
        <td><%= round.member_number %></td>
        <td><%= link_to 'Öffnen', round %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Neue Runde', new_round_path, method: :get, class: 'btn btn-success' %>
<hr>
<%= button_to 'Runden zurücksetzen', rounds_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Sind Sie sicher?' }  %>
