<%= form_for(@rb) do |f| %>
    <% if @rb.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rb.errors.count, "error") %> prohibited this rb from being saved:</h2>

          <ul>
            <% @rb.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% if !(@rb.ebene == 3) %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class:"form-control" %>
        </div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :parent_id %>
    </div>
    <% if @rb.ebene == 3 %>
        <div class="field">
          <%= f.label :qualifikation %><br>
          <%= f.text_field :qualifikation, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :erfahrung %><br>
          <%= f.text_field :erfahrung, class:"form-control" %>
        </div>
        <div class="field">
          <%= f.label :vollzeitäquvalente %>
          <%= f.number_field :vza, class:"form-control" %>
        </div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :ebene %>
    </div>
    <div class="field">
      <%= f.hidden_field :l1 %>
    </div>
    <div class="field">
      <%= f.hidden_field :l2 %>
    </div>
    <div class="field">
      <%= f.hidden_field :l3 %>
    </div>
    <div class="actions">
      <%= f.submit 'Speichern', class:"btn btn-success" %>
    </div>
<% end %>
