<p id="notice"><%= notice %></p>
<h1>Details</h1>
<p>
  <strong>Name:</strong>
  <%= @rb.name %>
</p>

<% if @rb.ebene == 2 %>
    <p>
      <strong>Qualifikation:</strong>
      <%= @rb.qualifikation %>
    </p>

    <p>
      <strong>Erfahrung:</strong>
      <%= @rb.erfahrung %>
    </p>
<% end %>

<%= button_to 'Bearbeiten', edit_rb_path(@rb), class:"btn btn-warning", method: :get %>
<br>
<FORM><INPUT Type="button" VALUE="Zurück" onClick="history.go(-1);return true;" class="btn btn-primary"></FORM>
