<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rb.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @rb.parent_id %>
</p>

<p>
  <strong>Qualifikation:</strong>
  <%= @rb.qualifikation %>
</p>

<p>
  <strong>Erfahrung:</strong>
  <%= @rb.erfahrung %>
</p>

<%= link_to 'Edit', edit_rb_path(@rb) %> |
<%= link_to 'Back', rbs_path %>
