<p id="notice"><%= notice %></p>

<h1>Work Breakdown Structure</h1>

<table class="table">
  <thead>
  <tr>
    <th class="gruenerKasten" width="100">Gesamtaufgabe</th>
    <th class="blauerKasten" width="100">Aufgabe</th>
    <th class="gelberKasten" width="100">Teilaufgabe</th>
    <th class="grauerKasten" width="100">Arbeitspaket</th>
    <th width="100"></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @wbs.each do |wb| %>
      <tr>
        <% if wb.l1 && wb.l2 && wb.l3%>
            <td></td>
            <td></td>
            <td class="grauerKasten"><%= wb.l1.to_s + '.' + wb.l2.to_s + '.' + wb.l3.to_s %></td>
            <td class="grauerKasten"><%= link_to wb.name, wb %></td>
        <% else %>
            <% if wb.l1 && wb.l2 %>
                <td></td>
                <td class="gelberKasten"><%= wb.l1.to_s + '.' + wb.l2.to_s %></td>
                <td class="gelberKasten"><%= link_to wb.name, wb %></td>
            <% else %>
                <% if wb.l1 %>
                    <td class="blauerKasten"><%= wb.l1 %></td>
                    <td class="blauerKasten"><%= link_to wb.name, wb %></td>
                <% else %>
                    <td class="gruenerKasten"><%= link_to wb.name, wb %></td>
                <% end %>
            <% end %>
        <% end %>
        <% if wb.ebene == 0 %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to new_aufgabe_path(id: wb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Neue Aufgabe hinzufügen" do %>
                  <%= image_tag("plus.png", size: "20x20") %>
              <% end %></td>
            <td><%= link_to wb, method: :delete, data: { confirm: 'Gesamtaufgabe entfernen?' }, title: "Gesamtaufgabe entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif wb.ebene == 1 %>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to new_teilaufgabe_path(id: wb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Teilaufgabe hinzufügen" do %>
                  <%= image_tag("plus.png", size: "20x20")  %>
              <% end %></td>
            <td><%= link_to wb, method: :delete, data: { confirm: 'Aufgabe entfernen?' }, title: "Aufgabe entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif wb.ebene == 2 %>
            <td></td>
            <td></td>
            <td><%= link_to new_arbeitspaket_path(id: wb.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, title: "Arbeitspaket hinzufügen" do %>
                  <%= image_tag("plus.png", size: "20x20")  %>
              <% end %></td>
            <td><%= link_to wb, method: :delete, data: { confirm: 'Teilaufgabe entfernen?' }, title: "Teilaufgabe entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% elsif wb.ebene == 3 %>
            <td></td>
            <td></td>
            <td><%= link_to wb, method: :delete, data: { confirm: 'Teilmodul entfernen?' }, title: "Arbeitspaket entfernen" do %>
                  <%= image_tag("minus.png", size: "20x20")  %>
              <% end %></td>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>

<br>



<%= link_to "Neue Gesamtaufgabe anlegen", new_wb_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} if Wb.where(ebene: 0).blank? %>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
