<p id="notice"><%= notice %></p>
<h1>Details</h1>
<p>
  <strong>Name:</strong>
  <%= @wb.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @wb.beschreibung %>
</p>

<% if @wb.ebene == 3 %>

<p>
  <strong>Start:</strong>
  <%= @wb.start.strftime("%d.%m.%y") %>
</p>

<p>
  <strong>Ende:</strong>
  <%= @wb.end.strftime("%d.%m.%y") %>
</p>

<% end %>

<%= button_to 'Bearbeiten', edit_wb_path(@wb), class:"btn btn-warning", method: :get %>
<br>
<FORM><INPUT Type="button" VALUE="Zurück" onClick="history.go(-1);return true;" class="btn btn-primary"></FORM>