<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :optimistisch %><br>
    <%= f.text_field :opt %>
  </div>
  <div class="field">
    <%= f.label :pessimistisch %><br>
    <%= f.text_field :pes %>
  </div>
  <div class="field">
    <%= f.label :realistisch %><br>
    <%= f.text_field :real %>
  </div>
  <div class="field">
    <%= f.label :mitarbeiter %><br>
    <%= f.number_field :worker_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :round_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Schätzung abgeben' %>
  </div>
<% end %>
