<!DOCTYPE html>
<html>
<head>
  <title>Projektmanagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
    <%= link_to 'Product Breakdown Structure', pbs_path %>
    <%= link_to 'Work Breakdown Structure', wbs_path %>
    <%= link_to 'Resource Breakdown Structure', rbs_path%>
    <%= link_to 'Ressource Allocation Matrix' %>
    <%= link_to 'Breitband-Delphi' %>
    <%= link_to 'Roadmap' %>
    <%= link_to 'Mitarbeiter verwalten', workers_path %>
  </nav>
<%= yield %>

</body>
</html>
