<!DOCTYPE html>
<html>
<head>
  <title>Projektmanagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Projektmanagement</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'PBS', pbs_path, title: 'Product Breakdown Structure' %></li>
        <li><%= link_to 'WBS', wbs_path, title: 'Work Breakdown Structure' %></li>
        <li><%= link_to 'RBS', rbs_path, title: 'Resource Breakdown Structure' %></li>
        <li><%= link_to 'RAM', ram_index_path, title: 'Ressource Allocation Matrix' %></li>
        <li><%= link_to 'Breitband-Delphi' %></li>
        <li><%= link_to 'Roadmap' %></li>
        <li><%= link_to 'Mitarbeiter verwalten', workers_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <div class="innercontainer">
    <div class="row">
      <div class="col-lg-6">
        <noscript>
          <div class= "alertjava">
            <h3>
              Diese Seite wird nur mit JavaScript
              korrekt dargestellt. Bitte schalten
              Sie JavaScript in Ihrem Browser ein!
            </h3>
          </div>
        </noscript>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
